/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
@import "minima/frost-styles.scss"; 

a:hover {
    color: #286f8b !important
    }  

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
